body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  padding: 10px;
  background-color: rgb(2, 1, 39);
  color: rgb(255, 2, 2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: rgb(134, 5, 5);
}
.Storms {
  font-size: 2rem;
  color: rgb(16, 5, 134);
}

.LoadScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.LoadScreen img {
  width: 400px;
}

.LoadScreen h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 200px;
  min-height: 150px;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 1px;
  border-color: brown;
  
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(207, 16, 16);
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}
